.postBox {
  width: 90%;
  margin: 0px auto;
}

h2 {
  text-align: center;
  background-color: #6c9aff;
  color: white;
  padding: 15px 0px;
}

.listItem {
  background-color: aliceblue;
  margin: 15px;
}

.post.id {
  color: red;
}
