@import url(/복습/reset.css);

body {
  background: linear-gradient(#f9814d, #f8574d);
  /* 높이 지정하여 지정*/
  height: 100vh;
  transition: 0.5s ease-in-out;
  overflow-x: hidden;
}

.slide-out {
  transform: translateX(-100%); /* 오른쪽으로 이동하는 트랜스폼 */
}

.slide-in {
  transform: translateX(0); /* 다시 원래 위치로 이동하는 트랜스폼 */
}

.transitioning {
  transition: transform 0.5s ease-in-out;
}
.main-box {
  /* 세로 중앙 정렬을 위해 height */

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-box {
  background-color: white;
  width: 15rem;
  margin: 1rem;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.img-box > img {
  width: 100%;
  /* 이미지의 높이를 주면 깨질 수 있다. */
  height: 17rem;
  border-bottom: 5px solid #f85f4d;
}

.text-box {
  text-align: center;
}

.text-box p:first-child {
  margin-top: 2.5rem;

  font-size: 0.9rem;
  opacity: 0.5;
}

.text-box p:nth-child(3) {
  margin-bottom: 2rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.btn {
  border: 1px solid #f8574d;
  background-color: white;
  color: #f8574d;
  width: 8rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 1.5rem;
}

.btn:focus {
  background-color: #f85f4d;
  color: white;
}
